*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
   /*  background-color: #13213a; */
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("fondo.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

/* CONTENIDO */
.contenido{
    width: 90%;
    max-width: 40%;
    min-width: 320px;
    margin: 3rem auto;
    border-radius: 20px;
    background: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)), url("foto.webp");
    background-repeat: no-repeat;
    background-size: cover; 
    padding: 3rem;
}

.contenido h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

/* FORMULARIO */
.form{
    margin-top: 2rem;
}

.form label{
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: .3rem;
    text-align: justify;
}

.form input{
    border: none;
    width: 100%;
    margin-bottom: .9rem;
}

.form input:not([type="submit"], input[type="reset"]){
    display: block;
    background-color: transparent;
    padding: 1.5rem;
    border: 1px solid #ffff;
    border-radius: 5px;
    margin-top: 1rem;
    color: white;
    font-size: 16px;
}

::placeholder{
    color: rgb(153, 153, 153);
    font-weight: bold;
}

.form input[type="submit"], input[type="reset"]{
    width: 30%;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    padding: 1.5rem .6rem;
    border: 1px solid white;
    display: flexbox;
    color: white;
    background-color: #13213a;
    font-weight: bold;
    cursor: pointer;
}
